name: FIREGEM_HARDWARE_FORGE
on: [push, workflow_dispatch]

jobs:
  ignition:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: System Entry
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: System Power
        run: sudo apt-get update && sudo apt-get install -y nasm binutils jq

      - name: Spark Master Engine
        run: |
          chmod +x engine/fire_gem
          ./engine/fire_gem fire_gem_config.json
