name: Fire-Gem Hello
on: 
  workflow_dispatch: 

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Repo
        uses: actions/checkout@v4

      - name: Install NASM
        run: sudo apt-get install -y nasm

      - name: Run Hello
        working-directory: AVIS-DATALAKE/fire-gem
        run: |
          chmod +x fire-gem.sh
          ./fire-gem.sh
